.DS_Store
*.o
*.so
*.pyc
*.swp
*.swo
*.pyd
dist
_build
build
.project
.pydevproject
.settings
.externalToolBuilders
.idea
.ipynb_checkpoints
.cache
.tox
.eggs/
.coverage

# Latex
.blg
.bbl
.log
.nav
.out
.snm
.toc
.aux

